# Ignore macOS Finder files
.DS_Store

# Ignore Visual Studio Code workspace settings
.vscode/

# Ignore general editor swap files
*.swp
*.swo
*~

# Ignore JetBrains IDE settings
.idea/

# Node.js und Python Caches
node_modules/
npm-debug.log*
__pycache__/

# Kompilierte Artefakte
*.o
*.out
a.out
